snippet i "import module"
import ${1} from '${2}';
endsnippet

snippet ia "import module as"
import * as ${1} from '${2}';
endsnippet

snippet rc "react functional component"
const ${1} = () => {
    ${2}
}
endsnippet

snippet nc "new react functional component init"
import * as React from "react";

const ${1} = () => {
    ${2}
}
endsnippet

